@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


/**
* ! Generalist Styles
**/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #F7F7FF ;
    font-size: 15px;
    font-family: 'Montserrat',
    sans-serif;
    background: url("./images/bg-top.svg");
    background-repeat: no-repeat;
    background-position-x:190px ;
}

.wrapper{
    /* border: 2px solid red; */
    margin: 60px 20px;
}


/**
* ! Headet Styles
**/

.header{
    /* border: 2px solid green; */
    padding: 20px 0px;
    text-align: center;
}

h1{
    font-size: 1.6rem;
    color: #71768C;
}

.toggle-container{
    margin: 10px 0px;
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.toggle-container p{
    color: #B7B7C1;
}

.toggle-button{
    cursor: pointer;
    position: relative;
    height: 36px;
    width: 80px;
    border-radius: 20px;
    background:linear-gradient(hsl(236, 72%, 79%),hsl(237, 63%, 64%));
}

.toggle-button:hover{
    opacity: 0.6;
}

.circle{
    position: absolute;
    background-color: #ffffff;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    top: 2px; 
}

.annually{
    left: 3px;
}

.monthly{
    right: 3px;
}

/**
* ! Plans Container Styles
**/

.plans{
    /* border: 2px solid black; */ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.plan{
    border: 1px solid rgb(240, 233, 233);
    background-color: white;
    text-align: center;  
    border-radius: 12px;
    padding: 20px 30px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.plan h2{
    margin-bottom: 10px;
    font-size: 1rem;
    color: #6F718A;
}

.plan .amount{
    color: #4B4E5F;
    margin-bottom: 10px;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.plan .amount span{
    font-size: 2.8rem;
}

.plan p{
    color: #8D8F9C;
}

.plan .divider{
    padding: 0 10%;
    text-align: center;
    margin: 10px;
    background-color: #E4E4E4;
    height: 1px;
    width: 90%;
}


.btn{
    cursor: pointer;
    margin:20px 0px;
    padding: 15px;
    width: 100%;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    color: white;
    background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    transition: all 0.25s ease-in-out;
}

.btn:hover{
    color: hsl(237, 63%, 64%);
    background: white;
    border: 2px solid hsl(237, 63%, 64%);
}

.professional{
    background:linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%)) ;
    color: white;
}

.professional h2,
.professional span,
.professional .amount,
.professional p{
    color: #ffffff;
}



.professional .btn{
    color: hsl(237, 63%, 64%);
    background: white;
}

.professional .btn:hover {
    border: 1px solid  white;
    color: white;
    background: hsl(237, 63%, 64%);
}



@media (min-width:700px){

    body{
        background: url("./images/bg-top.svg") , url("./images/bg-bottom.svg");
        background-repeat: no-repeat,no-repeat;
        background-position: top right,bottom left;
        font-size: 18px;
    }
    .plans{
        flex-direction: row;
        gap: 0px;
    }

    .plan{
        width: 38%;
    }

    .professional{
        padding: 40px 15px;
    }
}

@media (min-width:875px) {
    .plan{
        width: 25%;
    }
}